<div class="Dashboard-main-contant-row">
    <div class="container-fluid">
        <div class="notes-wrapper">
            <div class="row">
                <span class="g-title">G notes</span>

            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <div class="row">                        
                        <div class="col col-lg-4 col-md-12 col-xs-12 leftside">
                            <div class="list_wrapper">
                                <div class="alert alert-secondary" role="alert">
                                    A simple secondary alert—check it out!
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    A simple secondary alert—check it out!
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    A simple secondary alert—check it out!
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    A simple secondary alert—check it out!
                                </div>
                            </div>
                           
                        </div>
                        <div class="col col-lg-8 col-md-12 col-xs-12 rightside">
                            <div class="row">
                                <button type="button" class="btn btn-success btn-sm">Add Note</button>
                            </div>
                            <div class="row">
                                Title
                            </div>
                            <div class="row">
                                Body
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>