.Dashboard-main-contant-row{
    background: #fff;
    display: flex;   
    height: 100vh;
    .notes-wrapper{        
        .g-title{
            margin-left: 10px;
            display: flex;
            align-items: left;
            justify-content: left;
            font-size: 30px;
            font-weight: bolder;
            background: #F8F8F8;
            width: 100%;
            padding: 20px 0;
            
        }
        .list_wrapper{
            margin-top:20px            
        }
        .note_lnk{
            color: blue;
        }
        .btn_wrapper{

        display: flex;
        flex-direction: column;
        margin: auto;
        height: 10%;
        justify-content:center;
        align-items: flex-end;
        }
        .note_add_btn{
            width: 100px;
            
        }
        .add_form_wrapper{
            margin-top: 40px;
        }
    }
  
}